<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new topic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <style>
        body {
            margin: 2%;
        }
    </style>
</head>
<body>
<h1 style="color: black">Create comment:</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success">Create Comment</button>
<br>

<button class="btn btn-success">
    <a style="color: white" href="http://127.0.0.1:8000/">Back</a>
</button>
</form>

</body>
</html>